<div class="fund">
  <div class="backgroundabout">
    <div id="aboutus" class="about">¿QUIÉNES SOMOS?</div>
    <div class="textabout">
      Somos una empresa con mas de 20 años de experiencia en sistemas de
      seguridad con el principal objetivo de brindar soluciones en sistemas de
      seguridad que se adapten a las necesidades comerciales, residenciales e
      industriales mediante tecnología de punta, brindando alternativas para una
      mayor tranquilidad de los clientes.
    </div>
    <div class="box">
      <div class="box1">
        <p class="mission">MISIÓN</p>
        <p class="missiontext">
          Garantizar a nuestros clientes la tranquilidad de sus bienes y persona
          al adquirir nuestros productos de alta tecnología, manteniendo una
          permanente innovación, investigación y mejora de nuestro personal
          capacitándose y desarrollándose en un ambiente laboral basado en
          trabajo en equipo, respeto y confianza.
        </p>
      </div>
      <div class="box2">
        <p class="view">VISIÓN</p>
        <p class="viewtext">
          Liderar como empresa de seguridad electrónica en el ámbito financiero,
          asesoría personal y calidad de los productos y servicios ofrecidos en
          el estado Monagas, contando siempre con innovaciones tecnológicas
        </p>
      </div>
    </div>
  </div>
</div>
