<div id=services class="max">
  <div class="products"><p>NUESTROS SERVICIOS</p></div>
  <!----------------------------------BOX UP --------------------------------------------->
  <div class="min">
    <!-----BOX FIRE ------>
    <div class="img">
      <div>
        <img src="../../assets/img/SISTEMA-DE-INCENDIO 1.png" alt="Fire" />
      </div>
      <div class="text">
        <div><p>SISTEMA DE DETENCION DE INCENDIO</p></div>
        <div>
          <p>
            Instalación y mantenimiento en sistemas de detencion de incendio con
            las mejores marcas a nivel mundial.
          </p>
        </div>
      </div>
    </div>
    <!-----BOX CCTV ------>
    <div class="img">
      <div>
        <img src="../../assets/img/CCTV 1.png" alt="CCTV" />
      </div>
      <div class="text">
        <div>
          <p>CIRCUITO CERRADO DE TELEVISION (CCTV)</p>
        </div>
        <div>
          <p>
            Instalacion y mantenimiento de los sistemas de circuito cerrado de
            televisión con la calidad que busca en cada equipo.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------------BOX DOWN --------------------------------------------->
  <div class="min">
    <!-----BOX ACCESS ------>
    <div class="img">
      <div>
        <img src="../../assets/img/CONTROL-DE-ACCESO 1.png" alt="Access" />
      </div>
      <div class="text">
        <div><p>SISTEMA DE CONTROL DE ACCESO</p></div>
        <div>
          <p>
            Implementamos sistemas de proximidad, biométricos de huella digital,
            reconocimiento facial, etc.
          </p>
        </div>
      </div>
    </div>
    <!-----BOX ELECTRIC-FENCE ------>
    <div class="img">
      <div>
        <img src="../../assets/img/CERCO-ELECTRICO 1.png" alt="CCTV" />
      </div>
      <div class="text">
        <div>
          <p>CERCO ELECTRICO DE ALTO VOLTAJE</p>
        </div>
        <div>
          <p>
            Una cerca eléctrica consiste en un electrificador o alimentador que
            genera impulsos cortos de alta tensión a intervalos de un segundo,
            para proteger perímetros
          </p>
        </div>
      </div>
    </div>
    <!----- BOX FIRE SISTEM ------>
    <div class="img">
      <div>
        <img src="../../assets/img/CONTROL-DE-ACCESO 1.png" alt="Access" />
      </div>
      <div class="text">
        <div><p>CERCO ELECTRICO DE ALTO VOLTAJE</p></div>
        <div>
          <p>
            Una cerca eléctrica consiste en un electrificador o alimentador que
            genera impulsos cortos de alta tensión a intervalos de un segundo,
            para proteger perímetros
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
