<div class="footer">
  <div class="footerabove">
    <div>
      <img class="logo" src="../../assets/img/geylca-header.png" alt="" />
      <p class="followus">SIGUENOS</p>
    </div>
    <div class="logotext">
      <p class="description">
        Somos una empresa con mas de 20 años de experiencia en sistemas de
        seguridad con el principal objetivo de brindar soluciones en sistemas de
        seguridad que se adapten a las necesidades comerciales, residenciales e
        industriales mediante tecnología de punta, brindando alternativas para
        una mayor tranquilidad de los clientes.
      </p>
    </div>
    <div class="aboutus">
      <div class="aboutustext">
        <a class="list" href="#aboutus"
          ><p>
            ¿QUIÉNES SOMOS?
          </p></a>
        <a class="list" href="#"><p>Acerca de GEYLCA</p></a>
        <a class="list" href="#"><p>Nuestros Servicios</p></a>
        <a class="list" routerLink="products" > <p>Nuestros Productos</p></a>
      </div>
    </div>
    <div class="information">
      <div class="location">
        <div class="locationtext">
          <p>UBICACIÓN</p>
          <p>Calle Cedeño con Miranda Local Nro A1 Maturín, Monagas.</p>
        </div>
      </div>
      <div class="phone">
        <div class="phonetext">
          <p>NÚMERO DE CONTACTO</p>
          <p>0412-5916677 <br>
             0412-8963558</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footerdown">
    <div class="socialmedia">
      <a href="https://www.facebook.com/Geylca/"><i class="fa-brands fa-facebook"></i></a>
      <p>Facebook</p>
      <a href="https://www.instagram.com/geylca/?hl=es"> <i class="fa-brands fa-instagram"></i></a>
      <p>Instagram</p>
     <a href="https://api.whatsapp.com/send?phone=573228631387&text=Hola, Me interesa saber más sobre los productos y servicios"> <i class="fa-brands fa-whatsapp"></i></a>
      <p>WhatsApp</p>
    </div>
    <div class="copy">
      <i class="fa-solid fa-copyright"></i>
      <p>2022 Geylca Sistemas Integrales de Seguridad - All Rights Reserved</p>
    </div>
  </div>
</div>
