<form class="form" >
  <div class="formtext"><p>¿Quieres que nos contactemos contigo?</p></div>
  <div class="maxcontainer">
    <div class="container">
      <div class="container1 mb-4">
        <label for="" class="form-label">NOMBRE*</label>
        <input id="name" type="text" class="form-control"/>
        <div class="invalid-feedback">Este campo es requerido</div>
      </div>
      <div class="container1 mb-4">
        <label for="" class="form-label">TELEFONO*</label>
        <input id="phone" type="text" class="form-control" />
        <div class="invalid-feedback">Este campo es requerido</div>
      </div>
    </div>
    <div class="enviar">
      <button type="submit" class="btn btn-outline-light">ENVIAR</button>
    </div>
  </div>
</form>
