.flexcenter
    display: flex
    justify-content: center
    align-content: center
    margin: 0px
    padding: 0px
.background
    width: 100%
    position: relative
.text
    position: absolute
    color: white
    font-size: 4.26em
    text-align: center
    font-weight: bold
    padding: 0em 0.3em
.text1
    display: flex
    justify-content: flex-end
    align-items: center

.boxprincipal
    display: flex
    background: #000000
    justify-content: center
    height: 265px
    align-items: center
.install
    display: flex
    color: white
    font-size: 2em
    width: 20em
    text-align: center
    align-items: center
    margin-right: 5em
.year
    display: flex
    width: 18em
    height: 10em
    color: white
    border-radius: 50px
    background-color: #9C0000
    justify-content: center
    align-items: center
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px
.yearp
    display: flex
    position: absolute
    font-size: 2.5em
    padding: 0em
    margin: 0em
    justify-content: center
    align-items: center
    text-align: center
@media only screen and (max-width: 1230px)
    .text
        font-size: 3em
        display: flex
        justify-content: flex-end
        align-items: center
@media only screen and (max-width: 1020px)
    .text
        font-size: 2em
        display: flex
        justify-content: flex-end
        align-items: center
    .install
        font-size: 1.5em
    .year
        width: 14em
        height: 7em
    .year p 
        font-size: 1.5em
@media only screen and (max-width: 650px)
    .text
        font-size: 1em
        display: flex
        justify-content: flex-end
        align-items: center

